<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.liu.mapper.UserMapper">

    <!--  插入新注册的用户信息  -->
    <insert id="save">
        insert into t_user(username, password, salt)
        values (#{username}, #{password}, #{salt})
    </insert>

    <!--  根据用户名查询用户密码和该用户的随机salt  -->
    <select id="findByUserName" parameterType="string" resultType="com.liu.entity.User">
        select id, username, password, salt
        from t_user
        where username = #{name}
    </select>

    <resultMap id="userMap" type="com.liu.entity.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <!--  一对多的设置：property：类中的属性名， javaType：属性的类型    ofType：类型的泛型值    -->
        <collection property="roles" javaType="list" ofType="com.liu.entity.Role">
            <id column="rid" property="id"/>
            <result column="rname" property="name"/>
        </collection>
    </resultMap>

    <select id="findRoleByUserName" parameterType="string" resultMap="userMap">
        select u.id,
               u.username,
               r.id   rid,
               r.name rname
        from t_user u
                 left join
             t_user_role ur
             on
                 u.id = ur.userid
                 left join
             t_role r
             on
                 ur.roleid = r.id
        where u.username = #{name}
    </select>

    <select id="findPermsByRoleId" parameterType="int" resultType="com.liu.entity.Perms">
        SELECT
            p.id,p.name,p.url
        FROM
            t_role r
                LEFT JOIN
            t_role_perms rp
            ON
                r.id = rp.roleid
                LEFT JOIN
            t_perms p
            ON
                p.id = rp.permsid
        WHERE
            r.id = #{id};
    </select>


</mapper>
